@charset "utf-8";

/* 2013-8-13 */
body { min-width:1000px;}
.header { width:100%; height:46px; overflow:hidden; background:#AAA;}
.header .logo { float:left; margin:2px; width:190px; height:46px; background:url(../images/logo.png) no-repeat center;}
.menu { display:block; height:46px;}
.menu ul { margin:0; padding:0;}
.menu li { float:left; margin-left:1px;}
.menu li a,.menu li a.select { display:block; padding:15px 20px; color:#f2f2f2; height:16px; text-decoration:none; background:#AAA; font-size:16px; font-family:"微软雅黑"; line-height:16px;}
.menu li a:hover { color:#f2f2f2; background:#9a9a9a;}
.menu li a.select { color:#000; background:#FFF;}
.icon-home,.icon-learn,.icon-develop,.icon-chat
{ float:left; margin-right:10px; display:block; width:16px; height:16px; background:url(../images/icon-home.png) no-repeat;}
.icon-learn { background:url(../images/icon-book.png) no-repeat;}
.icon-develop { background:url(../images/icon-develop.png) no-repeat;}
.icon-chat { background:url(../images/icon-chat.png) no-repeat;}
.menu li a.select .icon-home,.menu li a.select .icon-learn,
.menu li a.select .icon-develop,.menu li a.select .icon-chat { background-position: 0 -16px;}

.main { margin:20px auto; width:940px; height:auto; overflow:hidden;}
.top { padding:290px 175px 0 175px; width:590px; height:160px; background:url(../images/bg.png) no-repeat;}
.top .btn-view { float:left; width:280px; height:56px;}
.top .btn-download { float:right; width:280px; height:56px;}
.top .btn-view a,.top .btn-download a { display:block; width:280px; height:56px; background:url(../images/btn-view.png) no-repeat; cursor:pointer;}
.top .btn-download a { background:url(../images/btn-download.png) no-repeat;}
.content { margin:20px 0 10px 0; padding-bottom:10px; width:940px; height:auto; overflow:hidden;}

.content div.info { float:left; padding:10px 15px; width:280px; height:230px; overflow:hidden; color:#666;}
.content div.info h1 { margin-bottom:15px; font-size:22pt; font-family:"微软雅黑"; color:#000;}

.content div.info1 { float:left; padding:10px 15px; overflow:hidden; color:#666;}
.content div.info1 h1 { margin-bottom:15px; font-size:22pt; font-family:"微软雅黑"; color:#000;}

.content div.info2 { float:left; padding:10px 15px; width:590px; height:240px; overflow:hidden; color:#666;}
.content div.info2 h1 { margin-bottom:15px; font-size:22pt; font-family:"微软雅黑"; color:#000;}
.content-bg { background-color:#f5f5f5 !important;}

.footer { width:100%; height:70px; overflow:hidden; background:#DDD; color:#666;}
.container { margin:20px auto; width:940px; height:auto; overflow:hidden;}

.jqmenu {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	background-color: #bcd5e6;
	text-align: center;
	width: 200px;
    height: 75px;
}