<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<!-- <primaryWizard id="org.eclipse.bpmn2.modeler.ui.diagram"> </primaryWizard> -->
		<wizard category="org.eclipse.bpmn2.wizardCategory"
			class="org.eclipse.bpmn2.modeler.ui.wizards.BPMN2DiagramWizard" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.diagram" name="BPMN2 Diagram">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<!--
		The multipage editor is still experimental.
		To quickly revert back to the original, single page editor
		simply replace the editor class with this:
			class="org.eclipse.bpmn2.modeler.ui.editor.BPMN2Editor"
		-->
		<editor
			class="org.eclipse.bpmn2.modeler.ui.editor.BPMN2MultiPageEditor"
			contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
			default="true" extensions="bpmn,bpmn2" icon="icons/bpmn2_editor_16.png"
			id="org.eclipse.bpmn2.modeler.ui.bpmn2editor" name="Bpmn2 Diagram Editor">
			<contentTypeBinding contentTypeId="org.eclipse.bpmn2.content-type.xml">
			</contentTypeBinding>
		</editor>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.eclipse.bpmn2.content-type.xml"
			name="BPMN2 Modeler File"
			file-extensions="bpmn,bpmn2"
			priority="normal">
			<describer class="org.eclipse.bpmn2.modeler.ui.BPMN2ContentDescriber">
			</describer>
		</content-type>
	</extension>

	<!-- Preference Pages -->
	
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            name="%PREFERENCE_PAGE_HOME"/>
      <page
            category="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2EditorPreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2EditorPreferencePage"
            name="%PREFERENCE_PAGE_EDITOR">
      </page>
      <page
            category="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2HomePreferencePage"
            class="org.eclipse.bpmn2.modeler.ui.preferences.WSILPreferencePage"
            id="org.eclipse.bpmn2.modeler.ui.preferences.WSILPreferencePage"
            name="%PREFERENCE_PAGE_WSIL"/>
   </extension>

	<!-- Property Pages - these per-project settings override the global preferences (above)-->

	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.eclipse.bpmn2.modeler.ui.preferences.Bpmn2PropertyPage"
			id="org.eclipse.bpmn2.modeler.ui" name="BPMN2">
			<enabledWhen>
				<or>
					<!-- TODO: do we need a java project? <adapt type="org.eclipse.core.resources.IProject"> 
						<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"> 
						</test> </adapt> -->
					<adapt type="org.eclipse.core.resources.IProject">
					</adapt>
				</or>
			</enabledWhen>
		</page>

		<page
			class="org.eclipse.bpmn2.modeler.ui.preferences.ToolEnablementPropertyPage"
			id="org.eclipse.bpmn2.modeler.ui.toolEnablement" name="%PROPERTY_PAGE_TOOL_ENABLEMENT"
			category="org.eclipse.bpmn2.modeler.ui">
			<enabledWhen>
				<or>
					<adapt type="org.eclipse.core.resources.IProject">
					</adapt>
				</or>
			</enabledWhen>
		</page>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor
			contributorId="org.eclipse.bpmn2.modeler.ui.PropertyContributor"
           labelProvider="org.eclipse.bpmn2.modeler.ui.property.PropertyLabelProvider"
			tabDescriptorProvider="org.eclipse.bpmn2.modeler.ui.property.PropertyTabDescriptorProvider">
			<propertyCategory category="BPMN2">
			</propertyCategory>
		</propertyContributor>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType description="This is the diagram type for the BMPN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Diagram Type"
			type="BPMN2">
		</diagramType>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramTypeProvider"
			description="This is the editor for the BPMN2 diagram"
			id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType" name="BPMN2 Editor">
			<diagramType
				id="org.eclipse.bpmn2.modeler.ui.diagram.MainBPMNDiagramType">
			</diagramType>
			<imageProvider id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
			</imageProvider>
  	<!--  <imageProvider
         id="org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.JBPM5ImageProvider">
   </imageProvider> -->
		</diagramTypeProvider>
	</extension>
	
	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.eclipse.bpmn2.modeler.ui.ImageProvider"
			id="org.eclipse.bpmn2.modeler.ui.ImageProvider">
		</imageProvider>
	</extension>

	<!-- Provide a default "runtime" behavior -->

	<extension point="org.eclipse.bpmn2.modeler.runtime">
		<runtime class="org.eclipse.bpmn2.modeler.ui.DefaultBpmn2RuntimeExtension"
			description="Default runtime definition" id="org.eclipse.bpmn2.modeler.runtime.none"
			name="None">
		</runtime>

		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			uri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"
			resourceFactory="org.eclipse.bpmn2.modeler.core.model.Bpmn2ModelerResourceFactoryImpl">
		</model>

		<!-- Property Tabs 

		<propertyTab
			id="org.eclipse.bpmn2.modeler.description.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.DescriptionPropertySection"
			label="Description">
		</propertyTab> 

		<propertyTab
			id="org.eclipse.bpmn2.modeler.main.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.DefaultPropertySection"
			afterTab="org.eclipse.bpmn2.modeler.description.tab"
			label="Basic">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.advanced.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.AdvancedPropertySection"
			afterTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Advanced">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.process.diagram.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.ProcessDiagramPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Process">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.definitions.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.DefinitionsPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			afterTab="org.eclipse.bpmn2.modeler.process.diagram.tab"
			label="Definitions">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.datastore.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataStorePropertySection"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Data Store">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.datastoreref.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataStoreReferencePropertySection"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Reference">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.dataobject.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataObjectPropertySection"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Data Object">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.dataobjectref.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.DataObjectReferencePropertySection"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Reference">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.dataitems.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.diagrams.DataItemsPropertySection"
			type="org.eclipse.bpmn2.di.BPMNDiagram"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Data Items">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.sequenceflow.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.SequenceFlowPropertySection"
			type="org.eclipse.bpmn2.SequenceFlow"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Sequence Flow">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.messageFlow.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.MessageFlowPropertySection"
			type="org.eclipse.bpmn2.MessageFlow"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Message Flow">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.message.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.MessagePropertySection"
			type="org.eclipse.bpmn2.Message"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Message">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.assocation.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.AssociationPropertySection"
			type="org.eclipse.bpmn2.Association"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Assocation">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.conversationLink.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.ConversationLinkPropertySection"
			type="org.eclipse.bpmn2.ConversationLink"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Conversation Link">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.conversation.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.connectors.ConversationPropertySection"
			type="org.eclipse.bpmn2.Conversation"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Conversation">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.commonEvent.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.events.CommonEventPropertySection"
			type="org.eclipse.bpmn2.Event"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Event">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.task.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.TaskPropertySection"
			type="org.eclipse.bpmn2.Task"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.scriptTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ScriptTaskPropertySection"
			type="org.eclipse.bpmn2.ScriptTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Script Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.serviceTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ServiceTaskPropertySection"
			type="org.eclipse.bpmn2.ServiceTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Service Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.userTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.UserTaskPropertySection"
			type="org.eclipse.bpmn2.UserTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="User Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.sendTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.SendTaskPropertySection"
			type="org.eclipse.bpmn2.SendTask"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Send Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.receiveTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ReceiveTaskPropertySection"
			type="org.eclipse.bpmn2.ReceiveTask"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Receive Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.businessRuleTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.BusinessRuleTaskPropertySection"
			type="org.eclipse.bpmn2.BusinessRuleTask"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Business Rule Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.choreographyTask.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ChoreographyTaskPropertySection"
			type="org.eclipse.bpmn2.ChoreographyTask"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Choreography Task">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.callActivity.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.CallActivityPropertySection"
			type="org.eclipse.bpmn2.ChoreographyTask"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Call Activity">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.subProcess.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.SubProcessPropertySection"
			type="org.eclipse.bpmn2.ChoreographyTask"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Sub Process">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.activity.io.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.IoParametersPropertySection"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="I/O Parameters">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.interface.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.data.InterfacePropertySection"
			afterTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Interfaces">
		</propertyTab>-->
<!--
		<propertyTab
			id="org.eclipse.bpmn2.modeler.activity.input.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ActivityInputPropertySection"
			 type="org.eclipse.bpmn2.Activity"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Inputs/Assignments">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.activity.output.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.tasks.ActivityOutputPropertySection"
			type="org.eclipse.bpmn2.Activity"
			afterTab="org.eclipse.bpmn2.modeler.task.tab"
			label="Outputs/Assignments">
		</propertyTab>

		<propertyTab
			id="org.eclipse.bpmn2.modeler.gateway.tab"
			class="org.eclipse.bpmn2.modeler.ui.property.gateways.GatewayPropertySection"
			type="org.eclipse.bpmn2.Gateway"
			replaceTab="org.eclipse.bpmn2.modeler.main.tab"
			label="Gateway">
		</propertyTab>
-->

		<modelEnablement runtimeId="org.eclipse.bpmn2.modeler.runtime.none" type="Choreography">
			<disable object="all"/>
			<enable object="Definitions"/>
			<enable object="Group"/>

			<enable object="StartEvent"/>
			<enable object="EndEvent"/>

			<enable object="TextAnnotation"/>
			<enable object="SequenceFlow"/>
			<enable object="Choreography"/>
			<enable object="SubChoreography"/>
			<enable object="CallChoreography"/>
			<enable object="ChoreographyTask"/>

			<enable object="ExclusiveGateway"/>
			<enable object="InclusiveGateway"/>
			<enable object="ParallelGateway"/>
			<enable object="EventBasedGateway"/>
			<enable object="ComplexGateway"/>

			<enable object="ConditionalEventDefinition"/>
			<enable object="TimerEventDefinition"/>
			<enable object="SignalEventDefinition"/>
			<enable object="MessageEventDefinition"/>
			<enable object="EscalationEventDefinition"/>
			<enable object="CompensateEventDefinition"/>
			<enable object="LinkEventDefinition"/>
			<enable object="ErrorEventDefinition"/>
			<enable object="CancelEventDefinition"/>
			<enable object="TerminateEventDefinition"/>

			<enable object="MessageFlow"/>
			<disable object="ConversationLink"/>
			<disable object="ConversationAssociation"/>
			<disable object="Collaboration"/>
			<disable object="ConversationNode"/>
			<disable object="ExtensionAttributeDefinition"/>
			<disable object="MessageFlowAssociation"/>
		</modelEnablement>

		<modelEnablement runtimeId="org.eclipse.bpmn2.modeler.runtime.none" type="Collaboration">
		
		<enable object="all"/>
		<!--
			<disable object="all"/>
			<enable object="default" feature="Process"/>
			<disable object="DataObjectReference"/>

			<enable object="Participant"/>
			<enable object="Lane"/>
			<enable object="MessageFlow"/>
			<enable object="Conversation"/>
			<enable object="SubConversation"/>
			<enable object="CallConversation"/>
			<enable object="ConversationLink"/> -->
		</modelEnablement>

		<modelEnablement runtimeId="org.eclipse.bpmn2.modeler.runtime.none" type="Process">
			<enable object="all"/>
			<disable object="Participant"/>
			<disable object="MessageFlow"/>
			<disable object="EventBasedGateway"/>
			<disable object="IntermediateCatchEvent"/>
			<disable object="IntermediateThrowEvent"/>
			
			<disable object="ConditionalEventDefinition"/>
	
			<disable object="SignalEventDefinition"/>
			<disable object="MessageEventDefinition"/>
			<disable object="EscalationEventDefinition"/>
			<disable object="CompensateEventDefinition"/>
			<disable object="LinkEventDefinition"/>
			<disable object="ErrorEventDefinition"/>
			<disable object="CancelEventDefinition"/>
			
			<disable object="Transaction"/>
			<disable object="AdHocSubProcess"/>
			<disable object="Message"/>
			<!--<disable object="CallActivity"/>
			<enable object="MessageFlow"/>
			<enable object="Participant"/>
			<enable object="Definitions"/>
			<enable object="Process"/>

			<enable object="StartEvent"/>
			<enable object="EndEvent"/>

			<enable object="BusinessRuleTask"/>
			<enable object="ExclusiveGateway"/>
			<enable object="InclusiveGateway"/>
			<enable object="ParallelGateway"/>
			<enable object="EventBasedGateway"/>
			<enable object="ComplexGateway"/>
			<enable object="CallActivity"/>
			<enable object="ScriptTask"/>
			<enable object="IntermediateCatchEvent"/>
			<enable object="IntermediateThrowEvent"/>
			<enable object="UserTask"/>
			<enable object="SubProcess"/>
			<enable object="Task"/>
			<enable object="SequenceFlow"/>
			<enable object="ReceiveTask"/>
			<enable object="ServiceTask"/>
			<enable object="SendTask"/>
			<enable object="ManualTask"/>
			<enable object="Annotation"/>
			<enable object="Transaction"/>
			<enable object="AdHocSubProcess"/>
			<enable object="Message"/>
			

			<enable object="ConditionalEventDefinition"/>
			<enable object="TimerEventDefinition"/>
			<enable object="SignalEventDefinition"/>
			<enable object="MessageEventDefinition"/>
			<enable object="EscalationEventDefinition"/>
			<enable object="CompensateEventDefinition"/>
			<enable object="LinkEventDefinition"/>
			<enable object="ErrorEventDefinition"/>
			<enable object="CancelEventDefinition"/>
			<enable object="TerminateEventDefinition"/>

			<enable object="DataStore"/>
			<enable object="DataStoreReference"/>
			<enable object="DataObjectReference"/>
			<enable object="Group"/>

			<enable object="ExtensionAttributeValue"/>
			<enable object="ExtensionAttributeDefinition"/>
			<enable object="StandardLoopCharacteristics"/>
			<enable object="MultiInstanceLoopCharacteristics"/>
			<enable object="Lane"/>
			
			<disable object="MessageFlow"/>
			<enable object="Association"/>
			<disable object="ConversationLink"/>
			<disable object="ConversationAssociation"/>
			<disable object="Collaboration"/>
			<disable object="Choreography"/>
			<disable object="ConversationNode"/>
			<disable object="MessageFlowAssociation"/>
			<disable object="Participant"/>
			<disable object="ParticipantAssociation"/>
			<disable object="ParticipantMultiplicity"/> -->
			
		
		</modelEnablement>
		<!--
		<style object="AdHocSubProcess" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Association" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="BoundaryEvent" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="BusinessRuleTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="CallActivity" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="CallChoreography" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ChoreographyTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ComplexGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="Conversation" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataAssociation" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataInput" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataObject" foreground="546778" background="D4E7F8" textColor="546778" font="Arial,10,-,-"/>
		<style object="DataOutput" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="DataStoreReference" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="EndEvent" foreground="7F0000" background="FF8080" textColor="7F0000" font="arial,10,-,-"/>
		<style object="EventBasedGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="ExclusiveGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="Group" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="InclusiveGateway" foreground="7F7F00" background="FFFF80" textColor="7F7F00" font="arial,10,-,-"/>
		<style object="IntermediateCatchEvent" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="IntermediateThrowEvent" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Lane" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ManualTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Message" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="MessageFlow" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ParallelGateway" foreground="484800" background="C8C864" textColor="484800" font="arial,10,-,-"/>
		<style object="Participant" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ReceiveTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ScriptTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="SendTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="SequenceFlow" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="ServiceTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="StartEvent" foreground="007F00" background="80FF80" textColor="007F00" font="arial,10,-,-"/>
		<style object="SubChoreography" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="SubProcess" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Task" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="TextAnnotation" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="Transaction" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		<style object="UserTask" foreground="546778" background="D4E7F8" textColor="546778" font="arial,10,-,-"/>
		-->
		
		
		<style object="AdHocSubProcess" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Association" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="BoundaryEvent" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="BusinessRuleTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="CallActivity" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="CallChoreography" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="ChoreographyTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="ComplexGateway" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Conversation" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="DataAssociation" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="DataInput" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="DataObject" foreground="000000" background="FFFFCC" textColor="000000" font="Arial,10,-,-"/>
		<style object="DataOutput" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="DataStoreReference" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="EndEvent" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="EventBasedGateway" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="ExclusiveGateway" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Group" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="InclusiveGateway" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="IntermediateCatchEvent" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="IntermediateThrowEvent" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Lane" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="ManualTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Message" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="MessageFlow" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="ParallelGateway" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Participant" foreground="000000" background="FFFFFF" textColor="000000" font="arial,10,-,-"/>
		<style object="ReceiveTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="ScriptTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="SendTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="SequenceFlow" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="ServiceTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="StartEvent" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="SubChoreography" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="SubProcess" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Task" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="TextAnnotation" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="Transaction" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
		<style object="UserTask" foreground="000000" background="FFFFCC" textColor="000000" font="arial,10,-,-"/>
	</extension>
</plugin>
