@charset "utf-8";

/* 2013-8-13 */
body { min-width:1000px;}
.main-panel { width:100%; height:100%; display:table;}
.header { display:table-row; width:100%; height:70px; overflow:hidden;}
.top { height:22px; line-height:22px; overflow:hidden;}
.top-right { float:right; padding:2px 0; text-align:right; color:#DDD; font-size:12px;}
.top-right ul { padding-right:4px;}
.top-right li { float:left; display:inline-block; padding:0 8px;}
.top-right li a { color:#DDD;}
.menu { display:block; padding:3px; height:60px; background:#404040; border-bottom:4px solid #a8a9ad;}
.menu .logo { float:left; margin:2px; width:320px; height:56px; background:url(../images/logo.jpg) no-repeat center;}
.menu ul { margin:0; padding:0;}
.menu li { float:left; margin-left:1px;}
.menu li a,.menu li a.select { display:block; padding:10px; color:#f2f2f2; width:92px; height:36px; text-decoration:none; background:#19bee7; border:2px solid #404040;}
.menu li a:hover { color:#FFF; background:#19bee7; border:2px solid #B5B5B5;}
.menu li a.select { color:#FFF; background:#19bee7; background:#19bee7 url(../images/menu-selected.png) no-repeat;}
.menu li a h1 { font-size:18px; font-family:"微软雅黑"; line-height:20px;}
.menu li a h4 { margin-top:4px; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:12px;}

.center-panel { display:table-row; width:100%; height:100%; background:#F2F2F2; position:relative;}


.left { float:left; width:220px; height:100%; min-height:800px; background:#e0e0e0;}
.left-nav-box { margin-top:10px; height:auto; overflow:hidden;}
.left-nav-box .m-top { margin-top:14px;}
.left-nav-box .left-nav { padding:0; width:220px; height:32px; overflow:hidden;}
.left-nav-box .left-nav h1 { margin-top:2px; padding:6px 20px; width:180px; height:20px; line-height:20px; color:#222; font-family:"微软雅黑"; font-size:15px;}
.left-nav-box .left-nav a,.left-nav-box .left-nav a:hover { display:block; padding:6px 20px; width:180px; height:20px; line-height:20px; color:#222; font-family:"微软雅黑"; font-size:15px; text-decoration:none; background: url(../images/arrow.png) no-repeat 190px center;}
.left-nav-box .left-nav a img { display:inline-block; margin-right:12px; width:20px; height:20px; float:left;}
.left-nav-box .left-nav a:hover { background-color:#cbcbcb;}
.left-nav-box .left-nav-orange-line { margin:3px 20px; width:180px; height:4px; font-size:1px; line-height:1px; border-bottom:4px solid #19bee7;}
.left-nav-box .left-nav-gray-line { margin:3px 20px; width:180px; height:1px; font-size:1px; line-height:1px; border-bottom:1px solid #afafaf;}


.message { margin:12px 8px 8px 8px; width:204px; height:auto; overflow:hidden; background:#f7f7f7;}
.message .title a { padding:5px 15px; display:block; height:20px; line-height:20px; color:#fff; font-family:"微软雅黑"; font-size:15px; text-decoration:none; background:#333 url(../images/arrow-white.png) no-repeat 182px center;}
.icon-message { float:left; width:20px; height:20px; background:url(../images/icon/message.png) no-repeat; margin-right:10px;}
.message-content { padding:8px; height:auto; overflow:hidden; min-height:200px;}
.message-content img { float:left; display:block; width:20px; height:20px; margin-right:10px;}
.message-content .msg { margin-top:3px; color:#555; line-height:16px;}
.message-content .msg .time { text-align:right; color:#999;}

.btn-arrow,.btn-arrow2 { float:left; width:5px; background:url(../images/btn-arrow-1.gif) no-repeat center center; cursor:pointer;}
.btn-arrow2 { background-image:url(../images/btn-arrow-2.gif);}

.right { padding:8px; height:100%; overflow:hidden;}
.search { margin-bottom:8px; height:auto; overflow:hidden; background:#fff;}
.search table { margin:4px 10px;}
.search td { padding:5px 0; font-family:"微软雅黑";}
.search td.title-r { text-align:right; color:#666; padding-right:15px; width:90px;}

.content { height:auto; overflow:hidden; background:#fff;}

.img-01 { float:left; display:block; margin-right:8px; width:26px; height:26px; background:url(../images/img-01.gif) no-repeat;}
.tool-box { float:right; padding:8px; width:168px; height:732px; background:#F8F8F8;}
.tool-title { height:24px; line-height:24px; background:#D5D5D5 url(../images/tool-title.gif) no-repeat 5px center;}
.tool-content { padding:12px; height:auto; overflow:hidden;}
.tool-title h4 { margin-left:14px; font-size:12px; font-weight:bold; color:#333; line-height:24px; font-family:"微软雅黑";}


/* 按钮 */
.btn-normal a { display:inline-block; padding:1px 8px; border:2px solid #19bee7; background:#19bee7; font-size:12px; line-height:12px; font-family:"微软雅黑"; color:#fff; text-decoration:none;}
.btn-normal a:hover { border:2px solid #19bee7; color:#19bee7; background:#fff;}
.btn-normal a .arrow-small { display:block; float:right; margin-left:8px; width:4px; height:12px; background:url(../images/arrow-small.png) no-repeat 0 0;}
.btn-normal a:hover .arrow-small { background-position:0 -12px;}

/* input按钮样式 */
.fix-input { padding:4px 5px; background:#f2f2f2; border:none; font-size:12px; line-height:12px; color:#333;}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border:none;padding:0;
}

/* 表单 */
.fix-table { margin:0; color:#444;}
.fix-table th { padding:4px 0; background:#d1f2fa; font-family:"微软雅黑"; border-right: 1px solid #fff; text-align:center;}
.fix-table td { padding:2px 0;}
.fix-table td.title-r { text-align:right; color:#666; padding-right:20px;}
.fix-table td.num { text-align:center; color:#666; width:24px; font-family:Verdana, Geneva, sans-serif;}
.fix-table td.time { text-align:center;}
.fix-table tbody tr.selected { background-color: #c3ebf8;}
.fix-table tbody tr:HOVER { background-color: #e7f5fa;cursor:pointer;}

/* 分页 */
.page { padding:10px 15px; height:18px; overflow:hidden; text-align:right;}
.page ul { margin:0; padding:0; height:auto; overflow:hidden; display:inline-block;}
.page li { float:left; margin-left:5px; color:#555;}
.page li a { display:block; padding:3px 5px; height:12px; line-height:12px; border:1px solid #fff; color:#555; font-family:Verdana; font-size:12px; text-decoration:none;}
.page li a:hover { background:#fff; border:1px solid #19bee7; color:#19bee7;}
.page li a.select { background:#19bee7; border:1px solid #19bee7; color:#fff; font-weight:bold;}
.page li .orange { color:#19bee7;}

/* 分类 */
.type-box { padding:20px; height:100%; text-align:center;}
.type-box .type {  margin:0 auto 10px auto; padding-bottom:12px; width:85%; height:auto; overflow:hidden; background:#bbb;}
.type-box .type h1 { display:block; padding:6px 10px; height:16px; line-height:16px; background:#999; color:#fff; font-family:"微软雅黑"; font-size:14px; font-weight:bold; text-align:left;}
.type-box .type a { float:left; margin:12px 0 0 15px; padding:15px 10px 15px 15px; display:block; width:100px; height:40px; overflow:hidden; text-decoration:none; color:#19bee7; line-height:16px; background:#eee ; border:3px solid #eee;}
.type-box .type a div { font-size:14px; text-align:left; font-family:"微软雅黑";}
.type-box .type a div:first-letter {font-size:200%;font-weight:bold;float:left;margin:0 5px;}
.type-box .type a:hover { color:#19bee7; background:#eee ; border:3px solid #19bee7;}

