@charset "utf-8";

/* 2013-8-13 */
body { min-width:700px; background:#f2f2f2; margin:0; padding:0;}
.popup { margin:0; height:auto; overflow:hidden;}
.popup .info { margin:25px auto 0 auto; width:660px; height: auto; overflow:hidden;}
.popup .info table { margin:4px 10px; color:#444;}
.popup .info td { padding:5px 0; font-family:"微软雅黑";}
.popup .info td.title-r { text-align:right; color:#666; padding-right:15px; width:90px;}
.popup .upload { margin:5px auto; width:660px; height:480px; background:#fff; border:6px solid #eee; text-align:center;}
.popup table {  margin:0; color:#444; background:#fff;}
.popup th { padding:4px 0; background:#f8ddd5; font-family:"微软雅黑"; border-right: 1px solid #fff; text-align:center;}
.popup td { padding:3px 0; text-align:center;}
.popup tr.gray { background:#f7f7f7;}
.popup td.left { text-align:left; color:#666; padding-left:10px;}
.popup a { color:#444;}
.popup a:hover { color:#dc562e;}

/* 按钮 */
.btn-normal a { display:inline-block; padding:1px 8px; border:2px solid #dc562e; background:#dc562e; font-size:12px; line-height:12px; font-family:"微软雅黑"; color:#fff; text-decoration:none;}
.btn-normal a:hover { border:2px solid #dc562e; color:#dc562e; background:#fff;}
.btn-normal a .arrow-small { display:block; float:right; margin-left:8px; width:4px; height:12px; background:url(../images/arrow-small.png) no-repeat 0 0;}
.btn-normal a:hover .arrow-small { background-position:0 -12px;}

