.process {
	padding:10px 15px; height:auto; overflow:hidden;
	background:#FBFBFB; border:1px solid #DDD;
}
.process h1 {
	margin-left:8px; text-indent:42px; font-family:"微软雅黑"; font-size:24px;
	background:url(../images/cog_alt_32x32.png) no-repeat left;
}
.process .proc_bg {
	margin-top:10px; padding:10px 15px; height:auto; overflow:hidden;
	background:#FFF; border:1px solid #EEE;
	-moz-border-radius:6px 6px 6px  6px;
	-webkit-border-radius:6px 6px 6px  6px;
 	border-radius:6px 6px 6px  6px;
}
.process .proc_bg h3 { margin-bottom:10px; height:18px; line-height:18px;}
.process .proc_bg h3 span { font-family:"微软雅黑"; font-size:16px; color:#333;}
.process .proc_bg h3 ul { padding-left:28px; display:inline-block; height:auto; overflow:hidden;}
.process .proc_bg h3 li { float:left; margin-left:22px; display:block; height:18px; line-height:18px; color:#888; text-indent:30px;}
.process .proc_bg h3 li.img01 { background:url(../images/process-01.png) no-repeat 0 0;}
.process .proc_bg h3 li.img02 { background:url(../images/process-02.png) no-repeat 0 0;}
.process .proc_bg h3 li.img03 { background:url(../images/process-03.png) no-repeat 0 0;}
