
/* 表单 */
.table-form { margin:0; color:#444; background:#fff; width:100%;}
.table-form td { padding:2px 5px; font-family:"微软雅黑"; text-align:left;}
.table-form td.title-r { text-align:right; color:#666; padding-right:10px;}
.table-form input[inputType=text], .table-form input[type=text], .table-form select { padding:4px 5px; width:100%; box-sizing:border-box; background:#f2f2f2; border:none; font-size:12px; line-height:12px; color:#888;}
.table-form textarea { padding:4px 5px; width:100%; box-sizing:border-box; background:#f2f2f2; border:none; font-size:12px; line-height:18px; color:#888;}


/* 列表 */
.table-list { margin:8px 0; color:#444; background:#fff; width:100%;}
.table-list th { padding:4px 0; background:#f8ddd5; font-family:"微软雅黑"; border-right: 1px solid #fff; text-align:center;}
.table-list td { padding:3px 0; text-align:center;}
.table-list tr.gray { background:#f7f7f7;}
.table-list td.left { text-align:left; color:#666; padding-left:10px;}
.table-list td.num { text-align:center; color:#666; width:24px; font-family:Verdana, Geneva, sans-serif;}
.table-list td.checkbox { text-align:center; width:30px;}
.table-list td.center { text-align:center;}


/* 按钮 */
.btn-normal { display:inline-block; margin:8px 8px;}
.btn-normal a { display:inline-block; padding:2px 8px 3px 8px; border:2px solid #dc562e; background:#dc562e; font-size:12px; line-height:12px; font-family:"微软雅黑"; color:#fff; text-decoration:none;}
.btn-normal a:hover { border:2px solid #dc562e; color:#dc562e; background:#fff;}
.btn-normal a .arrow-small { display:block; float:right; margin-left:8px; width:4px; height:12px; background:url(../images/arrow-small.png) no-repeat 0 0;}
.btn-normal a:hover .arrow-small { background-position:0 -12px;}

/* 工具条容器 */
.toolbar { text-align: center;}
