.pagearea{
   margin-top:20px;
   float:right;
   text-align:right;
   width:100%;
   font-size:12px;
   
}
.pagearea .qp{
   border:#AAAADD solid 1px;
   width:60px;
   height:10px;
   margin-right:3px;
   margin-left:3px;
   text-align:center;
}
.pagearea .disqp{
   border:#EEEEEE solid 1px;
   width:60px;
   height:10px;
   margin-right:3px;
   margin-left:3px;
   color:#EEEEEE;
}
.pagearea a {
   border:#AAAADD solid 1px;
   width:25px;
   height:10px;
   margin-right:3px;
   margin-left:3px;
   text-align:center;
}
.pagearea .point{
   width:25px;
   height:10px;
   margin-right:3px;
   margin-left:3px;
}
.pagearea .focuspage{
  border:#FD6D01 solid 1px;
  background-color:#FFEDE1;
  color:#FD6D01;
  width:25px;
  height:10px;
  margin-right:3px;
  margin-left:3px;
  font-weight:bold;
  text-align:center;
}
.pagearea info{
  color:#666666;
}
.pagearea a{
  TEXT-DECORATION:none;
  color:#3366CC;
}