<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.founder.fix.fixflow.designer.actionSet"
            label="FixFlow"
            visible="true">
         <menu
               id="com.founder.fix.fixflow.designer.menu"
               label="流程配置"
               path="com.founder.fix.studio.mainMenu/com.founder.fix.studio.separator">
            <separator
                  name="com.founder.fix.fixflow.designer.separator">
            </separator>
         </menu>
         <action
               class="com.founder.fix.fixflow.designer.CleanCache"
               icon="icon/recycle_16.png"
               id="com.founder.fix.fixflow.designer.cleancache.action"
               label="清空流程缓存"
               menubarPath="com.founder.fix.fixflow.designer.menu/com.founder.fix.fixflow.designer.separator"
               style="push"
               tooltip="清空缓存">
         </action>
         <action
               class="com.founder.fix.fixflow.designer.modeler.ui.common.FlowManagement"
               icon="icon/date_16.png"
               id="com.founder.fix.fixflow.designer.flowmanage"
               label="流程管理"
               menubarPath="com.founder.fix.fixflow.designer.menu/com.founder.fix.fixflow.designer.separator"
               style="push">
         </action>
         <action
               class="com.founder.fix.fixflow.designer.jobconfig.JobConfigAction"
               icon="icon/time_16.png"
               id="com.founder.fix.fixflow.designer.action1"
               label="定时任务配置"
               menubarPath="com.founder.fix.fixflow.designer.menu/com.founder.fix.fixflow.designer.separator"
               style="push">
         </action>
         <action
               class="com.founder.fix.fixflow.designer.fixflowconfig.FixFlowConfigAction"
               icon="icon/confg_16.png"
               id="com.founder.fix.fixflow.designer.fixflowconfig.action"
               label="流程引擎配置"
               menubarPath="com.founder.fix.fixflow.designer.menu/com.founder.fix.fixflow.designer.separator"
               style="push">
         </action>
         <action
               class="com.founder.fix.fixflow.designer.modeler.ui.common.ConfigDataVar"
               icon="icon/datavar_16.png"
               id="com.founder.fix.fixflow.designer.datavarconf.action"
               label="数据变量配置"
               menubarPath="com.founder.fix.fixflow.designer.menu/com.founder.fix.fixflow.designer.separator"
               style="push">
         </action>
         <action
               class="com.founder.fix.fixflow.designer.connector.EditFixConnector"
               icon="icon/tools_16.png"
               id="com.founder.fix.fixflow.designer.editconnector.action"
               label="编辑连接器"
               menubarPath="com.founder.fix.fixflow.designer.menu/com.founder.fix.fixflow.designer.separator"
               style="push">
         </action>
         <action
               class="com.founder.fix.fixflow.designer.connector.CreateFixConnector"
               icon="icon/toolsadd_16.png"
               id="com.founder.fix.fixflow.designer.createconnector.action"
               label="创建连接器"
               menubarPath="com.founder.fix.fixflow.designer.menu/com.founder.fix.fixflow.designer.separator"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.founder.fix.fixflow.designer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.founder.fix.fixflow.designer.FixFlowPerspective"
            icon="icon/bpmn.png"
            id="com.founder.fix.fixflow.designer.FixFlowPerspective"
            name="Fix BPMCS Flow Studio">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.adhocsubprocess.AdHocSubProcessCommonPropertySection"
            id="bpmn2.fix.AdHocSubProcessCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.process.ProcessCommonPropertySection"
            id="bpmn2.fix.ProcessCommon.tab"
            label="流程信息"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.association.AssociationCommonPropertySection"
            id="bpmn2.fix.AssociationCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.UserTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.common.ActivityAdvancedPropertySection"
            id="bpmn2.fix.ActivityAdvanced.tab"
            label="高级属性"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.UserTaskTaskView.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.common.ActivitySkipPropertySection"
            id="bpmn2.fix.ActivitySkip.tab"
            label="跳过策略"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.common.DataVariablePropertySection"
            id="bpmn2.fix.DataVariable.tab"
            label="数据变量"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.complexgateway.ComplexGatewayCommonPropertySection"
            id="bpmn2.fix.ComplexGatewayCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.UserTaskAssignment.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.connectors.ConnectorsPropertySection"
            id="bpmn2.fix.Connectors.tab"
            label="连接器"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.ServiceTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.startevent.StartEventCommonPropertySection"
            id="bpmn2.fix.StartEventCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.TaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.scripttask.ScriptTaskCommonPropertySection"
            id="bpmn2.fix.ScriptTaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.StartEventCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.subprocess.SubProcessCommonPropertySection"
            id="bpmn2.fix.SubProcessCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.ScriptTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.sequenceflow.SequenceFlowCommonPropertySection"
            id="bpmn2.fix.SequenceFlowCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.ScriptTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.usertask.UserTaskCommonPropertySection"
            id="bpmn2.fix.UserTaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.ActivityAdvanced.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.usertask.UserTaskTaskViewPropertySection"
            id="bpmn2.fix.UserTaskTaskView.tab"
            label="任务信息"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.ActivitySkip.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.usertask.UserTaskUserCommandPropertySection"
            id="bpmn2.fix.UserTaskUserCommand.tab"
            label="处理命令"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.UserTaskUserCommand.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.usertask.UserTaskAssignmentPropertySection"
            id="bpmn2.fix.UserTaskAssignment.tab"
            label="任务分配"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.StartEventCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.timereventdefinition.StartEventTimerEventDefinitionPropertySection"
            id="bpmn2.fix.StartEventTimerEventDefinition.tab"
            label="定时启动"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.textannotation.TextAnnotationCommonPropertySection"
            id="bpmn2.fix.TextAnnotationCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.SubProcessCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.task.TaskCommonPropertySection"
            id="bpmn2.fix.TaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.SendTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.servicetask.ServiceTaskCommonPropertySection"
            id="bpmn2.fix.ServiceTaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.ReceiveTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.sendtask.SendTaskCommonPropertySection"
            id="bpmn2.fix.SendTaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.ManualTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.receivetask.ReceiveTaskCommonPropertySection"
            id="bpmn2.fix.ReceiveTaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.parallelgateway.ParallelGatewayCommonPropertySection"
            id="bpmn2.fix.ParallelGatewayCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.BusinessRuleTaskCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.manualtask.ManualTaskCommonPropertySection"
            id="bpmn2.fix.ManualTaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.lane.LaneCommonPropertySection"
            id="bpmn2.fix.LaneCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.intermediatethrowevent.IntermediateThrowEventCommonPropertySection"
            id="bpmn2.fix.IntermediateThrowEventCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.intermediatecatchevent.IntermediateCatchEventCommonPropertySection"
            id="bpmn2.fix.IntermediateCatchEventCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.inclusivegateway.InclusiveGatewayCommonPropertySection"
            id="bpmn2.fix.InclusiveGatewayCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.group.GroupCommonPropertySection"
            id="bpmn2.fix.GroupCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.exclusivegateway.ExclusiveGatewayCommonPropertySection"
            id="bpmn2.fix.ExclusiveGatewayCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.eventbasedgateway.EventBasedGatewayCommonPropertySection"
            id="bpmn2.fix.EventBasedGatewayCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.endevent.EndEventCommonPropertySection"
            id="bpmn2.fix.EndEventCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.data.MessageCommonPropertySection"
            id="bpmn2.fix.MessageCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.data.DataStoreCommonPropertySection"
            id="bpmn2.fix.DataStoreCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.data.DataOutputCommonPropertySection"
            id="bpmn2.fix.DataOutputCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.data.DataObjectCommonPropertySection"
            id="bpmn2.fix.DataObjectCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.data.DataInputCommonPropertySection"
            id="bpmn2.fix.DataInputCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.callactivity.CallActivityCommonPropertySection"
            id="bpmn2.fix.CallActivityCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            afterTab="bpmn2.fix.BoundaryEventCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.businessruletask.BusinessRuleTaskCommonPropertySection"
            id="bpmn2.fix.BusinessRuleTaskCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.boundaryevent.BoundaryEventTimerEventDefinitionPropertySection"
            id="bpmn2.fix.BoundaryEventTimerEventDefinition.tab"
            label="时间定义"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
     		afterTab="bpmn2.fix.CallActivityCommon.tab"
            class="com.founder.fix.fixflow.designer.modeler.ui.property.boundaryevent.BoundaryEventCommonPropertySection"
            id="bpmn2.fix.BoundaryEventCommon.tab"
            label="常规"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.definitions.DefinitionsCommonPropertySection"
            id="bpmn2.fix.ProcessCommonPropertySection.tab"
            label="定义图表"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.message.SendMessageCommonPropertySection"
            id="bpmn2.fix.SendMessageCommonPropertySection.tab"
            label="消息发送"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.message.ReceiveMessageCommonPropertySection"
            id="bpmn2.fix.ReceiveMessageCommonPropertySection.tab"
            label="消息接收"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
      <propertyTab
            class="com.founder.fix.fixflow.designer.modeler.ui.property.callactivity.CallActivityMappingPropertySection"
            id="bpmn2.fix.CallActivityMappingPropertySection.tab"
            label="数据映射"
            replaceTab="org.eclipse.bpmn2.modeler.description.tab">
      </propertyTab>
   </extension>
   <extension
         point="org.codehaus.groovy.eclipse.ui.syntaxHighlightingExtension">
      <highlightingExtender
            extender="com.founder.fix.fixflow.designer.groovyeditor.FixSyntaxHighlighting"
            natureID="com.founder.fix.fixflow.designer.highlightingExtender">
      </highlightingExtender>
   </extension>
   <extension
         point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalFilter">
      <proposalFilter
            proposalFilter="com.founder.fix.fixflow.designer.groovyeditor.FixProposalFilter">
         <appliesTo
               projectNature="org.eclipse.jdt.core.javanature">
         </appliesTo>
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalFilter>
   </extension>
   <extension
         point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalProvider">
      <proposalProvider
            proposalProvider="com.founder.fix.fixflow.designer.groovyeditor.FixProposalProvider">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalProvider>
   </extension>
   
   

</plugin>
