<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- appender of NT_online -->
	<appender name="NT_online"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fix/log/NT_online.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m%n" />
		</layout>
	</appender>

	<!-- appender of NT_auth -->
	<appender name="NT_auth"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fix/log/NT_auth.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%m%n" />
		</layout>
	</appender>

	<!-- appender of NT_operation -->
	<appender name="NT_operation"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fix/log/NT_operation.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m%n" />
		</layout>
	</appender>
	
	<!-- appender of NT_operation -->
	<appender name="NT_service"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fix/log/NT_service.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m%n" />
		</layout>
	</appender>

	<!-- appender of NT_timer -->
	<appender name="NT_timer"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fix/log/NT_timer.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%m%n" />
		</layout>
	</appender>

	<!-- appender of NT_access -->
	<appender name="NT_access"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fix/log/NT_access.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%t|%m%n" />
		</layout>
	</appender>

	<!-- appender of NT_debug -->
	<appender name="NT_debug"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fix/log/NT_debug.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m%n" />
		</layout>
	</appender>

	<!-- appender of STDOUT -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd|HH:mm:ss.SSS}|%t|%-5p|%m|(%F:%L)%n" />
		</layout>
	</appender>
	<!-- 这里一下xx.com.founder的代表每个日志。分别对应了代码里的 LogFactory.getXXLog()方法，比如代码里是LogFactory.getDebugLog()，
		用那个log对象打印出来的内容就会遵循debug.com.founder里设定的规则-->
	<category name="debug.com.founder">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="NT_debug"/>
	</category>
	
	<category name="access.com.founder">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="NT_access"/>
	</category>
	
	<category name="timer.com.founder">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="NT_timer"/>
	</category>
	
	<category name="operation.com.founder">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="NT_operation"/>
	</category>
	
	<category name="service.com.founder">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="NT_service"/>
	</category>
	
	<category name="auth.com.founder">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="NT_auth"/>
	</category>
	
	<category name="online.com.founder">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="NT_online"/>
	</category>
	
	<category name="java.sql.Connection">
		<appender-ref ref="STDOUT" />
	</category>
	
	<category name="java.sql.Statement">
		<appender-ref ref="STDOUT" />
	</category>
	
	<category name="java.sql.PreparedStatement">
		<appender-ref ref="STDOUT" />
	</category>
	
	<category name="java.sql.ResultSet">
		<appender-ref ref="STDOUT" />
	</category>
	
	<category name="com.ibatis">
		<appender-ref ref="STDOUT" />
	</category>
		<!--  -->
	<root>
		<priority value="DEBUG"></priority>
	</root>

</log4j:configuration>
