<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.founderfix.com/fixflow"
            class="com.founder.fix.bpmn2extensions.fixflow.FixFlowPackage"
            genModel="model/fixflow-bpmn-extensions-1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="fixflow"
            class="com.founder.fix.bpmn2extensions.fixflow.util.FixFlowResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.founder.fix.bpmn2extensions.connectormenu.ConnectormenuPackage"
            genModel="model/fixflow-connector-menu.genmodel"
            uri="http://www.founderfix.com/connectormenu">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.founder.fix.bpmn2extensions.connectormenu.util.ConnectormenuResourceFactoryImpl"
            type="connectormenu">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.founder.fix.bpmn2extensions.connector.ConnectorPackage"
            genModel="model/fixflow-connector.genmodel"
            uri="http://www.founderfix.com/connector">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.founder.fix.bpmn2extensions.connectormenu.util.ConnectormenuResourceFactoryImpl"
            type="connector">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.founder.fix.bpmn2extensions.variableconfig.util.VariableconfigResourceFactoryImpl"
            type="variableconfig">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.founder.fix.bpmn2extensions.variableconfig.VariableconfigPackage"
            genModel="model/fixflow-variableconfig.genmodel"
            uri="http://www.founderfix.com/variableconfig">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.founder.fix.bpmn2extensions.coreconfig.util.CoreconfigResourceFactoryImpl"
            type="coreconfig">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.founder.fix.bpmn2extensions.coreconfig.CoreconfigPackage"
            genModel="model/fixflow-core-config.genmodel"
            uri="http://www.founderfix.com/coreconfig">
      </package>
   </extension>

</plugin>
